body{
    display: flex;
    background-color: rgb(71, 88, 88);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .box{
    background-color: whitesmoke;
     width: 20rem ; 
    border: double 5px rgb(102, 98, 92);
    padding: 1rem;
  }
  img{
    height: 15rem;
    width: 20rem ;
  }
  header{
    font-size: large;
    font-weight: bolder;
  }
  
  .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .actions  p{
    font-size: 0.9rem;
    color: blueviolet;
    padding: 0.3em;
  }
  .actions i{
    padding: 0.3em;
  }
  .effect:hover, .actions:hover{
    background-color:lightgray
  
  }
  
  